<div class="mt-4">
    <h2>Cap nhat khoa hoc</h2>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Ten khoa hoc</label>
            <input type="text" class="form-control" id="name" name="name" value="{{course.name}}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mo ta</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">videoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trinh do</label>
            <input type="text" class="form-control" id="level" name="level" value="{{course.level}}">
        </div>
        <button type="submit" class="btn btn-primary">Luu lai</button>
    </form>
</div>